/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 0 100px;
}
.section_title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
line-height: normal;
}

.section_description{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;   
 }
.text_primary{
    color: #FD6E0A;
}
.btn_primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
}
/* nav style */
.nav_title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
     list-style: none;
     margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #564b4b;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-greeting{
    font-size: 25px;
    color:#474747;
    margin-bottom: 5px;
}
.banner-title{
    margin: 0;
    font-size: 55px;
    font-weight: 700;
}
 /* main section style */
 /* about section style */
 .about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
 }
 