/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
    /* background: #f8f7f7; */
}
nav{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 0 100px;
}
.section_title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
line-height: normal;
}

.section_description{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;   
 }
.text_primary{
    color: #FD6E0A;
}
.btn_primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
}
/* nav style */
.nav_title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
     list-style: none;
     margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #564b4b;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left ;
    background-size: 600px,60px;
    
}

.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-greeting{
    font-size: 25px;
    color:#474747;
    margin-bottom: 5px;
}
.banner-title{
    margin: 0;
    font-size: 55px;
    font-weight: 700;
}
 /* main section style */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 main section{
    margin-top: 130px;
 }
 /* about section style */
 .about{
    padding: 130px;
    background: #FFF8F3;
    margin: 130px 0px;
 }
 .about_info_container{
    display: flex;
    justify-content: space-around;
 }
 .about_inf{
    text-align: center;
 }
 .about_inf>h4{
    color: rgb(147, 142, 142);
 }
 .about_inf>p{
    color: rgb(10, 10, 10);
    font-weight: bold;
 }

 /* skills related style */
 #what_i_do_description{
    padding: 30px 130px;
 }
 .skills_container{
    display: flex;
    justify-content: space-around;
    
 }
 .skill{
    padding: 20px;
    width: 20%;
    justify-content: space-between;
    gap: 5px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.06);
    /* background: #fff; */
 }
 .skill_description{
    color:#757575;
 }


 /* resime section style */
 .resume_container{
    display: flex;
    gap: 50px;
 }
 .resume_column_title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
 }
 .resume_item_title{
    color:#474747;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
 }
.resume_item_description, .resume_item_institute{
    color: #757575;
}
.resume_item_institute{
    margin-top: 0;
    margin-bottom: 20px;
}
.download_cv{
    text-align: center;
    margin-top: 50px;
}

/* footer style */
footer{
    display: flex;
    gap: 100px;
    background-color:#FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer_col{
    width: 50%;
}
.social_links a{
 margin-right: 25px;
}
.contact input[type="text"],input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    width: 100%;
    
}

